sudo: false
language: node_js
node_js:
  - "4"
  - "6"
  - "7"
services:
  - redis-server
script:
  - npm run travis
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
after_success: npm run coverage
